{% extends 'base.html.twig' %}
{% block title %}Hello ImobilierController!{% endblock %}
{% block body %}
<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
       <a class="navbar-brand"  href="{{ path('accueil')}}">
      <img src={{"https://th.bing.com/th/id/R860201f2c0c6d3f8976d66170b55d1ce?rik=wcA2zcVePnoBdA&pid=ImgRaw"}} alt="" width="30" height="24" class="d-inline-block align-text-top">
      IsmaHome
    </a>
      <!-- Search form -->
     	{{form(form)}}
      
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row mr-5 pr-3">
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img
            src="https://mdbootstrap.com/img/new/avatars/10.jpg"
            class="rounded-circle"
            height="30"
            alt=""
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1">{{connectedUser.prenom}}</strong>
        </a>
      </li>
      <li class="nav-item dropdown me-3 me-lg-1">
        <a
          class="nav-link  hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-chevron-circle-down fa-lg"></i>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="{{ path('user',{'id':connectedUser.id}) }} ">Paramettre</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Se Déconnecter</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
<div class="container mt-5">
<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">Reference</th>
      <th scope="col">Designation</th>
      <th scope="col">localisation</th>
      <th scope="col">Superficie</th>
      <th scope="col">Prix</th> 
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Afficher</th>
    </tr>
  </thead>
  {%  if not mesArticles  %} 
        <div class="alert alert-danger" role="alert">
        Aucun élément ne correspond à votre recherche
        </div>
  {% endif %}

  {% for element in mesArticles %}
  <tbody>
      <td>{{element.id}}</td>
      <td>{{element.titre}}</td>
      <td>{{element.localisation}}</td>
       <td></td>
      <td>{{element.loyer}} €/Mois</td>
      <td><a href="{{ path('suppArt' , {'idu' : connectedUser.id , 'id' : element.id} )}}" class="btn btn-danger my-3 ">Suprimer</a></td> 
      <td><a href="#" class="btn btn-primary my-3 ">Modifier</a>    </td> 
      <td><a href="{{ path('detailArticle' , {'id' : element.id} )}}" class="btn btn-primary my-3">Voir</a> </td> 
     </th>
  </tbody> 
  {% endfor %}
</table>
<button class='btn btn-success' href="{{ path('ajoutArt', {'id' : connectedUser.id} ) }}">Ajouter un article</button>
 {%  if not mesArticles  %} <button class='btn btn-success' href="{{ path('espaceAdmin', {'id' : connectedUser.id} ) }}">Retour</button>
{% endif %}

</div>
{% endblock %}