{% extends 'base.html.twig' %}
{% block title %}Article par Catégories{% endblock %}
{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner d-flex justify-content-center">
    <div class="carousel-item active m-2">
      <img src="/image/articles/imagePrincipale/{{mesArticles.imageName}}" style="height:200px; widht:50px" alt="imagePrincipale">
             <img src="/image/articles/photo/{{mesArticles.photoName}}" style="height:200px; widht:50px" alt="photo2">
             <img src="/image/articles/photo/{{mesArticles.photoName2}}" style="height:200px; widht:50px" alt="photo2">
             <img src="/image/articles/photo/{{mesArticles.photoName3}}" style="height:200px; widht:50px" alt="photo2">
    </div>
      <div class="carousel-item" >
        <img src="/image/articles/photo/{{mesArticles.photoName}}" style="height:500px; widht:200px" alt="photo1">
      </div>
      <div class="carousel-item">
        <img src="/image/articles/photo/{{mesArticles.photoName2}}" style="height:500px; widht:200px" alt="photo2">
      </div>
      <div class="carousel-item">
        <img src="/image/articles/photo/{{mesArticles.photoName3}}"style="height:500px; widht:200px" alt="photo3">
      </div>
    </div>
   <div class="col-5">
          <h1>{{mesArticles.titre}}<h1>
          <h6>Loyer: {{mesArticles.loyer}} €/mois<h6>
          <h6>Localisation: {{mesArticles.localisation}}<h6>
          <h6>Parking: {{mesArticles.parking}}<h6>
          <h6>Terasse: {{mesArticles.terasse}}<h6>
          <button class="btn btn-warning my-3" id="affichage"> Afficher plus </button>
          <p id="detail">{{mesArticles.contenu}}<p>
      

<a href="{{ path('accueil') }}"><button class='btn btn-danger my-3'>Retour</button></a>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</div>
<script>
	jQuery(document).ready(function()
   {
	   jQuery('#detail').hide();
     jQuery('#affichage').click(function()
   {
     jQuery('#detail').slideToggle(400);
  return false;
      });
   });
</script>
{% endblock %}