{% extends 'base.html.twig' %}
{% block title %}Hello ImobilierController!{% endblock %}
{% block body %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src={{"https://th.bing.com/th/id/R860201f2c0c6d3f8976d66170b55d1ce?rik=wcA2zcVePnoBdA&pid=ImgRaw"}} alt="" width="30" height="24" class="d-inline-block align-text-top">
      IsmaHome
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégorie
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for element in mesCategories %}
            <li><a class="dropdown-item" href="{{ path('articleOfCat' , {'id' : element.id} )}}">{{element.type}}</a></li>
          {% endfor %} 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>     
<div class="row p-3">
 {% for element in mesArticles %}
<div class="col-2 card m-2" style="width: 18rem;">
  <img src="/image/articles/imagePrincipale/{{element.imageName}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{element.titre}}</h5>
    <h6 class="card-title">Reference: {{element.id}}</h6>
    <p class="card-text">{{element.loyer}} € /Mois</p>
    <strong class="card-text">localisation:</strong> {{element.localisation}}
     
  </div>
  <a href="{{ path('detailArticle' , {'id' : element.id} )}}" class="btn btn-primary mb-1">Détail</a> 
</div>
{% endfor %}
</div>

{% endblock %}
